.home-container {
    background-color: lightyellow;
    display: flex;
    justify-content: space-around;
}

.home {
    margin: 40px;
    text-align: start;
    margin-top: 95px;
}

.home h1 {
    color: olivedrab
}

.home p {
    color: olive;
    font-weight: 500;

}

.home-btn {
    background-color: rgba(106, 142, 35, 0.651);
    color: rgb(62, 94, 0);
    font-weight: 800;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid olivedrab;
    cursor: pointer;
}

.home-btn:hover {
    background-color: rgba(106, 142, 35, 0.486);
}

.home-container img {
    margin: 50px;
    margin-top: 100px;
    width: 250px;

}

.customar-review {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}



.review-btn {
    background-color: lightyellow;
    color: olive;
    margin: 10px;
    padding: 10px;
    border: 2px solid olivedrab;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}